<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749829486080-8p78bss0ug7fkn21cu7oe5ntllhcj5sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749829486080-8p78bss0ug7fkn21cu7oe5ntllhcj5sk</string>
	<key>API_KEY</key>
	<string>AIzaSyCTSkt9hLaXCgMJGfV9qnPhzBRn0wSrMB0</string>
	<key>GCM_SENDER_ID</key>
	<string>749829486080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhuiyu.Talk2Meee</string>
	<key>PROJECT_ID</key>
	<string>hey-there-muyuuu</string>
	<key>STORAGE_BUCKET</key>
	<string>hey-there-muyuuu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749829486080:ios:d33f68fb009139edc24ae5</string>
</dict>
</plist>